<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./static/css/buka_rekening.css" />
  </head>
  <body>
    <div class="pembukaan-rekening">
      <div class="div">
        <img class="women-holding-phone" src="./static/img/pembukaan_rekening.png" />
        <div class="text-wrapper">Buka Rekening💰</div>
        <p class="buka-rekening-money">
          Buka rekening Money Save tanpa perlu ribet ke cabang,<br />cukup siapkan dokumen yang diperlukan📄
        </p>
        <div class="overlap-group">
          <a href="{{ url_for('upload_dokumen_page') }}" style="text-decoration: none; color: white;">
            <button class="btn-rectangle">Buka Rekening Money Save</button>
          </a>
        </div>
        <div class="group">
          <img class="OJK" src="./static/img/OJK-1.png" />
          <img class="logo-lps" src="./static/img/logo-lps-1.png" />
          <img class="logo-bun" src="./static/img/logo-bun-1.png" />
        </div>
        <img class="logo-nama-removebg" src="./static/img/money_save.png" />
      </div>
    </div>
  </body>
</html>
