<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./static/css/upload_dokumen.css" />
  </head>
  <body>
    <div class="upload-dokumen">
      <div class="div">
        <img class="women-holding-phone" src="./static/img/persiapan_dokumen.png" />
        <div class="text-wrapper">Siapkan Dokumen</div>
        <p class="siapkan-dokumen-yang">
          Siapkan dokumen yang diperlukan dibawah ya!<br />pastikan dokumen asli dan berlaku
        </p>
        <img class="logo-nama-removebg" src="./static/img/money_save.png" />
        <img class="dokumen-upload" src="./static/img/dokumen.png" />
        <div class="text-wrapper-2">KTP Elektronik</div>
        <img class="img" src="./static/img/dokumen.png" />
        <div class="text-wrapper-3">Kartu Keluarga</div>
        <img class="dokumen-upload-2" src="./static/img/dokumen.png" />
        <div class="text-wrapper-4">NPWP</div>
        <div class="overlap-group">
            <a href="{{url_for('isi_formulir_page')}}" style="text-decoration: none; color: white;">
                <button class="btn-rectangle">Lanjut isi Data</button>
            </a>
        </div>
        <div class="group">
          <img class="OJK" src="./static/img/OJK-1.png" />
          <img class="logo-lps" src="./static/img/logo-lps-1.png" />
          <img class="logo-bun" src="./static/img/logo-bun-1.png" />
        </div>
        <img class="vector" src="./static/img/vector-9.png" />
        <img class="vector-2" src="./static/img/vector-9.png" />
      </div>
    </div>
  </body>
</html>
