<aside class="sidebar">
    <div class="logo">
      <h2>MS Admin</h2>
    </div>
    <nav class="menu">
      <a href="#"><i class="bi bi-house-door"></i> Dashboard</a>
      <a href="data_user.php"><i class="bi bi-people"></i> Data User</a>
      <a href="{{url_for('verifikasi_page')}}"><i class="bi bi-check2-circle"></i> Verifikasi</a>
      <a href="{{url_for('setoran_page')}}"><i class="bi bi-wallet2"></i> Setoran</a>
      <a href="#"><i class="bi bi-file-earmark-text"></i> Laporan</a>
      <a href="#"><i class="bi bi-gear"></i> Pengaturan</a>
      <a href="#"><i class="bi bi-box-arrow-right"></i> Logout</a>
    </nav>
  </aside>
